services:
    mt5:
        build: .
        image: gmag11/metatrader5_vnc
        container_name: mt5
        volumes:
            - config_data:/config:uid=911,gid=911
        ports:
            - 3011:3000
            - 8009:8001
            - 5555:5555

volumes:
    config_data:
        driver: local


